__pycache__/
*.pyc
.env

# Database
data/

# Logs
logs/*.log
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/


# Distribution / packaging
env/

# For pid file
*.pid

# For nohut out file
nohub.out

